body {
  width: 90%;
  min-width: 900px;
  margin: 1em auto;
  background-image: url(../assets/background1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
}

footer {
  text-align: center;
}

button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

button:hover {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  cursor: pointer;
}

.container {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 5px;
}

header {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  grid-column: 1 / 13;
  grid-row: 1;
  height: 120px;
}

nav {
  padding: 10px;
  border-radius: 7px;
  grid-column: 1 /13;
  grid-row: 2;
}

article {
  padding: 10px;
  border-radius: 7px;
  padding-top: 0;
  grid-column: 1 / 9;
  grid-row: 3;
  min-height: 500px;
}

aside {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  grid-column: 9 / 13;
  grid-row: 3;
}

footer {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  grid-column: 1 / 13;
  grid-row: 4;
}

article .module {
  margin-bottom: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  border-radius: 7px;
}

article #flight-search-id {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
  min-width: 600x;
}

article #flight-search-id #flight-type-id {
  grid-column: 1/7;
  grid-row: 1;
}

article #flight-search-id #flight-destination-id {
  grid-column: 1/13;
  grid-row: 2;
}

article #flight-search-id #flight-leaving-date-id {
  grid-column: 1/13;
  grid-row: 3;
}

article #flight-search-id #flight-return-date-id {
  grid-column: 1/13;
  grid-row: 4;
}

article #flight-search-id #passenger-number-id {
  grid-column: 1/13;
  grid-row: 5;
}

.tiles {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  color: white;
  display: inline-block;
  margin: 5px;
  min-width: 100px;
  max-width: 110x;
}

.plane-side {
  fill: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.exit {
  fill: green;
  font-size: 12px;
}

.seat-letter {
  font-size: 13px;
  font-weight: bold;
}

.row-number {
  font-size: 13px;
  font-weight: bold;
}

.seat {
  stroke: black;
  fill: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.seat:hover {
  cursor: pointer;
}

.plane-type {
  font-size: 15px;
  font-weight: bold;
}

span {
  color: red;
  font-weight: bolder;
  font-size: 1.2em;
}

.narrow {
  margin: 3px;
}

#logout-button-id {
  display: none;
  float: right;
  margin: 0;
  padding: 5px;
  font-size: 0.8em;
  font-weight: lighter;
}
